<?xml version='1.0' encoding='UTF-8'?>
<module name="server">
  <init/>
  <doc>
    <heading level="1">Server</heading>
  </doc>
  <file name="main">
    <doc>
      <heading level="1">Server (main)</heading>
      <p>FastAPI Entry Point</p>
    </doc>
    <imports>
      <import module="pathlib">
        <item name="Path"/>
      </import>
      <import module="lxml.etree">
        <item name="_Element"/>
        <item name="_ElementTree"/>
      </import>
      <import module="fastapi">
        <item name="FastAPI"/>
        <item name="HTTPException"/>
        <item name="status"/>
      </import>
      <import module="fastapi.middleware.cors">
        <item name="CORSMiddleware"/>
      </import>
      <import module="server.development">
        <item name="DocumentationSource"/>
        <item name="XMLResponse"/>
      </import>
      <import module="typing">
        <item name="List"/>
      </import>
    </imports>
    <var name="server" type="FastAPI">
      <doc>
        <p>FastAPI application instance</p>
      </doc>
    </var>
  </file>
  <module name="models">
    <init/>
    <doc>
      <p>TODO</p>
    </doc>
    <file name="core">
      <imports>
        <import module="pydantic">
          <item name="BaseModel"/>
          <item name="Field"/>
        </import>
      </imports>
      <class name="ExampleModel">
        <inherits>
          <super name="BaseModel"/>
        </inherits>
        <doc>
          <p>Just an example of a model</p>
        </doc>
        <var name="name" type="str">
          <doc>
            <p>This is a name!</p>
          </doc>
        </var>
        <var name="value" type="float">
          <doc>
            <p>This is a value!</p>
          </doc>
        </var>
        <method name="checkmethod">
          <sig>
            <returns>
              <type>float</type>
            </returns>
            <arguments>
              <arg name="self"/>
              <arg name="num">
                <type>int</type>
              </arg>
            </arguments>
          </sig>
        </method>
      </class>
      <class name="NonModel">
        <doc>
          <p>This one isn't a model</p>
        </doc>
        <var name="thing" type="str"/>
      </class>
    </file>
  </module>
  <file name="model_utils">
    <imports>
      <import module="json"/>
      <import module="inspect"/>
      <import module="pathlib">
        <item name="Path"/>
      </import>
      <import module="pydantic">
        <item name="BaseModel"/>
      </import>
      <import module="pydantic.json_schema">
        <item name="models_json_schema"/>
      </import>
      <import module="server">
        <item name="models"/>
      </import>
      <import module="typing">
        <item name="Type"/>
        <item name="List"/>
      </import>
    </imports>
    <function name="get_models">
      <sig isstart="1">
        <returns>
          <type iter="list" istype="1">BaseModel</type>
        </returns>
      </sig>
      <doc>
        <p>Get all the models</p>
      </doc>
    </function>
    <function name="write_schemas">
      <sig isvoid="1">
        <arguments>
          <arg name="models">
            <type iter="list" istype="1">BaseModel</type>
          </arg>
          <arg name="path">
            <type>Path</type>
          </arg>
        </arguments>
      </sig>
      <doc>
        <p>Write out the schemas</p>
      </doc>
    </function>
  </file>
  <module name="development">
    <init/>
    <doc>
      <p>TODO</p>
    </doc>
    <file name="docs">
      <imports>
        <import module="pathlib">
          <item name="Path"/>
        </import>
        <import module="pydantic">
          <item name="BaseModel"/>
        </import>
        <import module="fastapi">
          <item name="Response"/>
        </import>
        <import module="lxml.etree">
          <item name="parse"/>
          <item name="tostring"/>
          <item name="_ElementTree"/>
          <item name="_Element"/>
        </import>
        <import module="typing">
          <item name="Optional"/>
          <item name="List"/>
        </import>
      </imports>
      <class name="XMLResponse">
        <inherits>
          <super name="Response"/>
        </inherits>
        <method name="render">
          <sig>
            <returns>
              <type>bytes</type>
            </returns>
            <arguments>
              <arg name="self"/>
              <arg name="content">
                <type/>
              </arg>
            </arguments>
          </sig>
        </method>
      </class>
      <class name="DocumentationSource">
        <inherits>
          <super name="BaseModel"/>
        </inherits>
        <var name="dir" type="Path"/>
        <method name="doclist">
          <sig>
            <returns>
              <type iter="list">str</type>
            </returns>
            <arguments>
              <arg name="self"/>
            </arguments>
          </sig>
        </method>
        <method name="get_document">
          <sig>
            <returns>
              <type>_ElementTree<type/></type>
            </returns>
            <arguments>
              <arg name="self"/>
              <arg name="name">
                <type>str</type>
              </arg>
            </arguments>
          </sig>
        </method>
        <method name="query_document">
          <sig>
            <returns>
              <type>_Element<type/></type>
            </returns>
            <arguments>
              <arg name="self"/>
              <arg name="name">
                <type>str</type>
              </arg>
              <arg name="query">
                <type>str</type>
              </arg>
            </arguments>
          </sig>
        </method>
      </class>
    </file>
  </module>
</module>
